<div class="flex justify-center">
  <div class="grid grid-cols-3 pt-32 p-20 gap-6 text-white">
    <ul *ngFor="let vehicle of vehicles; index as i">
      <li>
        <app-vehicle-card [vehicle]="vehicle"></app-vehicle-card>
      </li>
    </ul>
    <div
      class="w-80 h-72 flex items-center justify-center bg-gray-800 rounded-lg shadow-lg cursor-pointer hover:bg-gray-700 transition duration-300" (click)="addVehicle()"
    >
      <img src="assets/icons/plus.svg" alt="Add vehicle" class="w-28" />
    </div>
  </div>
</div>
